<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
    <key>PROJECT_ID</key><string>milyway-41e9e</string>
    <key>API_KEY</key><string></string>
    <key>DATABASE_URL</key><string></string>
    <key>PLANT_ID</key><string></string>
</dict></plist>
